.aboutus {
    margin: 16rem;
    color: rgb(0, 119, 255);
    padding: 20px;
    font-family: Cambria, sans-serif;
    align-items: center;
    text-align: center;
}

.aboutus h1 {
    text-align: center;
    color: #f305ff;
    font-size: 2.5em;
    margin-bottom: 20px;
}