.footer {
    font-family: "Felipa", cursive;
    height: 55px;
    background: linear-gradient(135deg, rgb(17, 211, 255), rgb(255, 23, 255));
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    gap: 5px;
    margin: 5px;
    border-radius: 15px 20px;
    bottom: 0;
  }
  
  .footer p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 17px;
  }
  